# Author: Wajid Umar
## Project: Prediction of grassland area in different countries around the globe
### Algorithm: Random Forest Regressor

# Global Grassland area

### Importing libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import scipy.stats as stats

### Import the grassland dataset retrieved from the FAO stats

In [44]:
df=pd.read_csv('grassland_data.csv')
df.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Land Cover,Afghanistan,Area from MODIS,Grassland,2001,1000 ha,23533.7602
1,Land Cover,Afghanistan,Area from MODIS,Grassland,2002,1000 ha,23597.6426
2,Land Cover,Afghanistan,Area from MODIS,Grassland,2003,1000 ha,23822.6478
3,Land Cover,Afghanistan,Area from MODIS,Grassland,2004,1000 ha,24072.0168
4,Land Cover,Afghanistan,Area from MODIS,Grassland,2005,1000 ha,24356.4181

### Remove the unnecessary columns

In [45]:
df1=df.drop(["Domain", "Element", "Item", "Unit"],axis=1)
df1.head()

          Area  Year       Value
0  Afghanistan  2001  23533.7602
1  Afghanistan  2002  23597.6426
2  Afghanistan  2003  23822.6478
3  Afghanistan  2004  24072.0168
4  Afghanistan  2005  24356.4181

### Drop the rows contain zero values

In [46]:
df2=df1[~(df[df.columns[3:]] == 0).any(axis=1)]

In [47]:
df2.head()

          Area  Year       Value
0  Afghanistan  2001  23533.7602
1  Afghanistan  2002  23597.6426
2  Afghanistan  2003  23822.6478
3  Afghanistan  2004  24072.0168
4  Afghanistan  2005  24356.4181

In [48]:
df2.describe()

              Year          Value
count  4180.000000    4180.000000
mean   2010.528230   15628.678359
std       5.765491   46365.376249
min    2001.000000       0.021500
25%    2006.000000      62.621300
50%    2011.000000     889.268600
75%    2016.000000    5449.379850
max    2020.000000  288630.112200

### Encoding the character variables

In [49]:
from sklearn.preprocessing import LabelEncoder
def Encoder(df2):
    columnsToEncode = list(df2.select_dtypes(include=['category','object']))
    le=LabelEncoder()
    for feature in columnsToEncode:
        try:
            df2[feature] = le.fit_transform(df2[feature])
        except:
            print('Error encoding '+feature)
    return df

In [55]:
df2=Encoder(df2)

In [56]:
df2.head()

   Domain  Area  Element  Item  Year  Unit       Value
0       0     0        0     0  2001     0  23533.7602
1       0     0        0     0  2002     0  23597.6426
2       0     0        0     0  2003     0  23822.6478
3       0     0        0     0  2004     0  24072.0168
4       0     0        0     0  2005     0  24356.4181

In [70]:
df3=df2.drop(["Domain", "Element", "Item", "Unit"],axis=1)
df3.tail()

      Area  Year       Value
4778   241  2016  30225.4824
4779   241  2017  29840.5651
4780   241  2018  29511.1800
4781   241  2019  30022.9778
4782   241  2020  30862.4778

### Assigning the independent and dependent variables

### Input variables

In [60]:
X=df3.iloc[:,0:2]
X.head()

   Area  Year
0     0  2001
1     0  2002
2     0  2003
3     0  2004
4     0  2005

### Output variable

In [61]:
y=df3.iloc[:,2]
y.head()

0    23533.7602
1    23597.6426
2    23822.6478
3    24072.0168
4    24356.4181
Name: Value, dtype: float64

### Fitting the model

In [62]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor().fit(X,y)

### Spliting data into training and testing data

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Model training

In [64]:
from sklearn.ensemble import RandomForestRegressor
model1=RandomForestRegressor().fit(X_train,y_train)

### Prediction

In [65]:
y_pred=model1.predict(X_test)
y_pred

array([0.00000000e+00, 2.19158092e+03, 0.00000000e+00, 1.82671000e-01,
       3.57658370e+01, 1.36912097e+04, 2.41581145e+03, 2.31690297e+05,
       8.74596375e+03, 9.41290637e+03, 2.41961216e+04, 2.51781148e+02,
       2.33766484e+04, 2.95314428e+03, 1.35629707e+02, 1.70975856e+04,
       0.00000000e+00, 9.12765895e+03, 1.65173819e+04, 1.10488990e+01,
       5.51813638e+02, 9.42493770e+02, 4.35207810e+01, 3.90393071e+03,
       4.05165941e+03, 1.77335607e+03, 2.88623500e+01, 3.43587004e+02,
       2.53523000e-01, 7.41151600e+00, 4.66151829e+03, 3.19217278e+04,
       0.00000000e+00, 9.84790276e+02, 2.58316584e+02, 2.49202242e+02,
       6.98628800e+00, 1.94301016e+04, 2.10112459e+03, 1.35533300e+00,
       5.59000000e-03, 2.46788848e+02, 1.01699512e+02, 3.17093610e+01,
       2.29521319e+05, 1.61852000e+00, 2.94578602e+02, 4.37186972e+04,
       0.00000000e+00, 5.73931200e+00, 8.32305867e+03, 1.35535916e+02,
       0.00000000e+00, 0.00000000e+00, 3.02536029e+03, 2.54370891e+02,
       4.79292591e+03, 8.84125377e+02, 4.30596899e+04, 0.00000000e+00,
       1.68486898e+02, 1.38560031e+03, 4.07559744e+02, 9.21160000e-02,
       3.69464920e+01, 1.16786000e-01, 4.13288722e+02, 9.21160000e-02,
       3.56354900e+00, 4.59119331e+04, 1.49211412e+03, 7.14798272e+02,
       2.89572730e+01, 3.22522649e+04, 2.83005329e+02, 4.04341469e+03,
       0.00000000e+00, 1.51060419e+03, 2.82725656e+02, 5.89721999e+02,
       9.01879419e+03, 1.87310719e+03, 2.48490401e+02, 1.20533300e+00,
       2.65184309e+03, 3.92319911e+04, 1.37593159e+04, 4.44946878e+02,
       1.07186856e+03, 1.85734934e+02, 2.00010196e+03, 3.41426615e+02,
       8.82803500e+00, 3.53251623e+03, 1.41055600e+00, 4.27643249e+02,
       1.61656049e+04, 3.27612722e+02, 5.35343320e+02, 6.04542800e+00,
       4.53990655e+02, 8.82830283e+03, 5.99616363e+02, 7.39392854e+02,
       2.60012509e+03, 8.34310384e+03, 1.01867491e+03, 3.21997898e+04,
       1.16170961e+04, 3.31757900e+01, 5.44184807e+03, 4.14176750e+04,
       1.85559651e+05, 1.68781510e+01, 5.52033837e+02, 4.28458949e+02,
       8.68281696e+03, 2.84149031e+02, 0.00000000e+00, 2.51597290e+01,
       5.92652860e+02, 4.65317731e+03, 8.21563800e+00, 2.94505713e+02,
       7.79779075e+02, 1.29000000e-02, 1.10135724e+03, 1.86405520e+02,
       7.77900100e+00, 7.70812940e+02, 9.47706076e+02, 7.27276142e+03,
       0.00000000e+00, 9.88465550e+01, 3.38733258e+04, 1.05162900e+00,
       2.74969673e+05, 0.00000000e+00, 3.34341496e+04, 0.00000000e+00,
       2.19862430e+03, 1.77945581e+04, 4.93049095e+02, 3.71920638e+03,
       5.82996000e-01, 3.70490025e+04, 8.77647259e+03, 1.94278613e+03,
       1.62695979e+02, 5.03972427e+02, 3.47089978e+02, 0.00000000e+00,
       9.79804560e+01, 7.71693008e+02, 1.16475603e+04, 7.52955327e+02,
       2.11577847e+03, 6.29235120e+01, 5.09814000e-01, 9.40125803e+03,
       0.00000000e+00, 1.34061727e+03, 5.04742242e+03, 6.68461000e-01,
       2.53196357e+02, 3.59327371e+04, 1.73017923e+02, 0.00000000e+00,
       8.40831842e+03, 2.32508743e+03, 1.86763759e+03, 6.53545013e+04,
       1.39059607e+04, 4.69631501e+02, 5.43005563e+03, 3.14428887e+03,
       7.71031900e+00, 3.67173740e+01, 3.74190345e+03, 2.23212649e+03,
       4.39684761e+03, 2.82457386e+02, 9.45780510e+01, 9.82208373e+04,
       1.01750900e+00, 0.00000000e+00, 1.64122604e+04, 2.74944093e+05,
       2.28965915e+03, 1.06761993e+03, 8.23871325e+02, 6.31956871e+03,
       2.12774876e+03, 0.00000000e+00, 9.95028300e+00, 0.00000000e+00,
       0.00000000e+00, 1.83344386e+04, 1.30433050e+01, 1.88817228e+03,
       4.40572674e+04, 3.81301450e+02, 1.54161540e+01, 3.00882056e+04,
       0.00000000e+00, 1.15105943e+03, 1.34645235e+03, 5.74580100e+00,
       2.62786981e+03, 4.41394778e+03, 2.83292528e+02, 4.66784174e+04,
       2.69206666e+02, 2.30569163e+05, 0.00000000e+00, 2.48244556e+02,
       0.00000000e+00, 6.22921692e+03, 9.59049400e+00, 2.86753590e+05,
       4.67712336e+03, 9.21342459e+03, 0.00000000e+00, 9.25068360e+02,
       9.85764370e+01, 0.00000000e+00, 1.78716407e+04, 3.86365318e+02,
       1.81787840e+01, 2.85058624e+05, 1.22363697e+03, 0.00000000e+00,
       1.16777713e+04, 3.94775557e+02, 1.44121183e+02, 3.39613181e+03,
       3.90265000e-01, 3.49542453e+02, 0.00000000e+00, 8.33025300e+00,
       2.47540466e+04, 1.95348363e+04, 2.32604477e+04, 6.95727000e-01,
       2.86780970e+02, 2.88603394e+02, 2.89885890e+01, 9.35729333e+02,
       1.12806600e+00, 2.21343224e+03, 1.64763487e+03, 3.76229095e+02,
       0.00000000e+00, 2.08024777e+03, 4.23649059e+03, 2.57616797e+04,
       2.93469127e+02, 8.83893390e+01, 1.03689140e+01, 6.90494600e+00,
       1.40369852e+04, 1.29285700e+00, 9.24763704e+03, 1.79443472e+02,
       1.07730000e-01, 1.11037311e+03, 1.16156070e+01, 3.71478853e+04,
       9.29421353e+03, 6.37321400e+00, 4.00600000e-01, 3.57092404e+03,
       2.76822830e+01, 8.01506000e-01, 1.70018255e+05, 7.53257600e+00,
       8.05164749e+02, 2.41504614e+04, 9.36200000e-02, 4.71442299e+02,
       0.00000000e+00, 5.52609788e+02, 1.26044188e+04, 0.00000000e+00,
       3.46379502e+02, 2.79675482e+03, 1.81628777e+03, 7.66506800e+00,
       7.02641822e+02, 3.10497137e+03, 7.92985460e+01, 0.00000000e+00,
       4.60249500e+00, 2.38480208e+04, 3.93382806e+04, 1.81552310e+02,
       8.97189200e+00, 1.31155300e+00, 3.64744000e-01, 3.36247535e+03,
       6.95450000e-02, 0.00000000e+00, 5.77027520e+02, 2.59525200e+00,
       5.38496170e+02, 5.25095065e+02, 6.05023750e+01, 4.66570184e+04,
       8.79386752e+02, 2.12951621e+03, 2.29223104e+05, 1.12974729e+03,
       2.06476508e+03, 7.13093500e+00, 1.60809170e+01, 3.39814574e+04,
       2.55939400e+00, 6.80149000e+00, 1.78099920e+02, 6.62974836e+02,
       8.03722100e+00, 1.54337203e+04, 1.15551522e+04, 1.03340580e+01,
       2.58007514e+02, 0.00000000e+00, 4.42674721e+02, 1.06793900e+00,
       0.00000000e+00, 8.06242000e-01, 5.30090510e+02, 0.00000000e+00,
       0.00000000e+00, 2.46675082e+03, 2.54421287e+04, 3.95725604e+02,
       2.89486610e+01, 2.46978373e+02, 1.21777600e+00, 5.21024918e+02,
       0.00000000e+00, 3.47733944e+04, 3.83633750e+01, 1.68430234e+02,
       1.91317938e+05, 4.38852350e+01, 1.35915366e+03, 4.38983995e+03,
       3.23458840e+03, 2.71380222e+03, 4.41900000e-02, 1.94296000e-01,
       2.02487300e+01, 3.43602331e+04, 0.00000000e+00, 0.00000000e+00,
       4.21602247e+04, 8.21135200e+00, 3.79002300e+00, 9.78180900e+00,
       2.20844221e+03, 1.40196000e-01, 8.30925000e-01, 1.97483613e+03,
       1.05562035e+02, 1.31667167e+03, 1.56336082e+03, 1.67103849e+02,
       6.08722540e+01, 0.00000000e+00, 1.16920530e+01, 2.34260000e-02,
       2.56906425e+03, 2.44326700e+01, 2.85954649e+05, 0.00000000e+00,
       9.07810291e+03, 1.07359280e+01, 2.75065431e+03, 1.89558221e+02,
       5.80407676e+02, 5.05232401e+02, 2.32008206e+03, 2.43527610e+04,
       1.04842400e+00, 9.11631109e+03, 2.21085630e+01, 1.44852725e+03,
       2.19294419e+03, 9.62770000e-01, 1.69581476e+04, 6.39865956e+02,
       9.63398630e+02, 5.63885600e+00, 5.41566672e+02, 2.54883541e+02,
       4.79475878e+04, 2.61408667e+02, 0.00000000e+00, 0.00000000e+00,
       6.39865956e+02, 1.53423290e+04, 1.27513000e-01, 2.06803881e+03,
       4.44127110e+03, 1.24930908e+02, 2.32177038e+05, 1.82290515e+02,
       7.20834749e+02, 3.64456210e+01, 1.11192900e+00, 5.55659193e+03,
       1.73370930e+01, 7.66835045e+02, 2.14590800e+03, 2.60453252e+03,
       4.96528200e+00, 2.36955242e+02, 1.05226566e+04, 3.78321567e+04,
       1.01125360e+03, 8.59439074e+02, 3.45236571e+04, 1.77696942e+04,
       4.17589442e+02, 1.32262631e+03, 4.09095000e+00, 2.36047400e+01,
       3.21892594e+02, 5.76854824e+02, 2.24147168e+05, 5.45597070e+03,
       3.67025492e+03, 9.59049400e+00, 4.60752571e+02, 6.35782480e+01,
       2.52785434e+03, 2.20914986e+03, 5.21212551e+02, 1.74246210e+04,
       1.99637090e+01, 4.67120665e+04, 1.50382898e+04, 2.46465601e+02,
       0.00000000e+00, 8.83515753e+04, 9.51798000e-01, 5.76854824e+02,
       5.71208000e+00, 1.88475874e+03, 8.86772467e+02, 2.06476508e+03,
       3.83213394e+04, 3.07734900e+00, 3.74544403e+04, 3.00646360e+02,
       4.35712700e+00, 0.00000000e+00, 8.91010000e-02, 1.87490377e+04,
       4.28413711e+02, 3.00158245e+04, 2.65125329e+02, 3.42003061e+03,
       8.22097620e+02, 8.77729307e+04, 1.61136109e+04, 1.61136109e+04,
       4.10986929e+03, 3.46379950e+01, 6.98628800e+00, 1.37575871e+04,
       1.74900558e+03, 2.20367900e+00, 2.14978400e+00, 0.00000000e+00,
       0.00000000e+00, 2.99303928e+02, 1.22764800e+00, 3.16247950e+01,
       0.00000000e+00, 4.76909300e+00, 3.35547535e+02, 2.88262210e+05,
       5.15864458e+02, 4.66778847e+03, 5.75290612e+02, 3.32092851e+02,
       7.03971500e+00, 1.64615638e+03, 6.09416100e+00, 2.65806252e+02,
       3.49249661e+02, 3.36214746e+03, 3.10175319e+03, 1.48433500e+00,
       3.80576160e+01, 1.18492800e+00, 8.01217650e+01, 5.60892000e-01,
       2.81696600e+00, 2.04045456e+03, 4.50138850e+03, 3.16528704e+03,
       2.08389600e+00, 0.00000000e+00, 2.82771282e+03, 7.26856000e-01,
       2.17781206e+02, 9.94477861e+02, 1.37766273e+04, 1.01945300e+02,
       1.08534800e+00, 2.37643243e+04, 0.00000000e+00, 3.23618130e+01,
       2.72000490e+01, 4.60563021e+03, 1.70939789e+02, 1.67602316e+03,
       2.26706245e+02, 2.19375219e+03, 9.50980638e+02, 3.10676300e+00,
       1.42351790e+02, 3.61477046e+02, 3.01318560e+01, 1.76180143e+05,
       1.15740400e+00, 6.48363806e+04, 8.92481650e+01, 0.00000000e+00,
       4.90783482e+04, 1.37803652e+04, 4.45359367e+03, 1.02466164e+04,
       1.15438484e+02, 2.67816724e+02, 1.65488968e+02, 2.24109599e+03,
       2.60887423e+03, 3.86170694e+04, 6.94923852e+02, 9.95103477e+04,
       0.00000000e+00, 4.22765979e+03, 1.04992154e+04, 3.69597820e+04,
       1.99461400e+03, 6.39865956e+02, 9.85630268e+04, 0.00000000e+00,
       5.68434900e+02, 5.63262250e+01, 2.19923885e+03, 4.30000000e-04,
       0.00000000e+00, 0.00000000e+00, 1.87633022e+04, 3.11551500e+01,
       2.61569160e+03, 1.10613955e+03, 1.12078044e+03, 8.91673400e+00,
       1.49211412e+03, 3.33268293e+03, 2.60696933e+03, 4.48278210e+01,
       1.76077185e+02, 8.98476800e+00, 0.00000000e+00, 7.98199568e+02,
       2.88054595e+03, 4.31438765e+03, 1.31348500e+00, 4.05252643e+04,
       3.41005939e+03, 1.27938739e+03, 2.05381882e+03, 1.18210760e+01,
       3.80811261e+04, 3.94790614e+02, 9.41537289e+03, 2.74941304e+03,
       6.91224730e+01, 2.82677258e+05, 3.65654939e+03, 1.59650771e+04,
       2.82688649e+05, 1.66461477e+04, 1.07244727e+02, 3.50042584e+02,
       9.58067896e+03, 0.00000000e+00, 7.05391613e+02, 3.97379618e+03,
       5.72390165e+04, 1.72515547e+04, 6.79025285e+02, 1.87506346e+05,
       1.37529872e+02, 1.14105720e+04, 1.37494078e+03, 2.80918408e+03,
       4.59223943e+03, 0.00000000e+00, 4.00679640e+02, 3.47778000e-01,
       2.83993821e+03, 8.66712247e+04, 1.67698995e+04, 2.59347444e+03,
       6.72611900e+00, 4.09517689e+02, 1.18987800e+00, 0.00000000e+00,
       3.11684507e+02, 4.01226940e+01, 1.94296000e-01, 1.18465136e+04,
       9.83400753e+02, 3.94349325e+03, 2.85614764e+05, 2.25842449e+05,
       0.00000000e+00, 8.22097620e+02, 9.79923735e+02, 2.31428047e+05,
       4.83946080e+01, 1.51809170e+03, 7.72570000e-02, 1.37658900e+00,
       2.21614688e+02, 0.00000000e+00, 4.30339986e+02, 9.82525000e-01,
       3.78321567e+04, 3.74221963e+02, 0.00000000e+00, 9.91220343e+02,
       2.94631350e+03, 5.70652925e+04, 1.76784053e+05, 9.70280000e+00,
       5.76854824e+02, 9.40734565e+02, 7.60780901e+02, 0.00000000e+00,
       7.33076000e-01, 1.27698539e+02, 8.43327300e+00, 8.97189200e+00,
       7.82431750e+02, 2.46544060e+01, 3.81238125e+02, 0.00000000e+00,
       1.25596200e+00, 4.91874729e+04, 3.76224587e+02, 3.62757114e+04,
       1.05472614e+04, 7.82048700e+01, 3.76775590e+01, 4.00123317e+03,
       1.30162515e+03, 1.30909838e+04, 7.20801300e+00, 4.90476000e-01,
       1.76127057e+03, 2.48228769e+03, 5.41634032e+02, 1.08010676e+03,
       2.45029913e+03, 3.25647227e+02, 0.00000000e+00, 2.87177045e+02,
       3.37870600e+00, 8.26200251e+03, 3.79217126e+03, 1.00780700e+00,
       7.72570000e-02, 2.54861734e+03, 3.33425441e+04, 8.69260000e+00,
       7.70210340e+01, 1.36181173e+03, 0.00000000e+00, 0.00000000e+00,
       3.38124000e-01, 6.98059058e+02, 2.31966536e+05, 8.27785000e+00,
       2.09671574e+03, 5.77140000e-02, 6.06043500e+00, 4.69806396e+03,
       3.95779563e+04, 2.06917505e+03, 1.77983544e+03, 0.00000000e+00,
       1.63670890e+01, 7.27276142e+03, 8.06665000e-01, 2.16527100e+00,
       4.29522000e-01, 9.28746000e+00, 3.78977580e+01, 2.93241787e+02,
       6.88365400e+00, 3.69013979e+03, 6.44758466e+02, 9.15171118e+04,
       3.33203990e+01, 1.03494000e-01, 1.83467876e+05, 1.05800000e-01,
       1.09759090e+04, 7.03434600e+00, 3.16825450e+01, 5.51497900e+00,
       1.58031583e+04, 8.59549560e+02, 2.39441115e+04, 1.61337330e+01,
       1.95435089e+03, 0.00000000e+00, 3.83374797e+04, 4.01002660e+04,
       2.46531069e+04, 9.63099837e+02, 4.23602276e+02, 0.00000000e+00,
       0.00000000e+00, 9.70529088e+04, 1.49869000e-01, 1.87992809e+05,
       5.04437000e-01, 4.82535710e+04, 0.00000000e+00, 2.30697924e+05,
       1.02931800e+00, 1.78032994e+03, 0.00000000e+00, 8.83348845e+02,
       6.03486567e+03, 9.71146000e-01, 8.69661450e+01, 8.92787320e+02,
       8.79871724e+02, 1.41003599e+03, 3.24865890e+01, 1.14750150e+01,
       1.62618930e+01, 3.97230445e+03, 2.84103849e+05, 1.58775570e+03,
       2.63453070e+03, 2.62161097e+03, 9.67325171e+02, 9.00022232e+03,
       6.65461000e-01, 2.17850740e+03, 4.21596000e-01, 8.06742229e+02,
       2.30376000e+00, 2.81647636e+05, 7.34340746e+04, 4.56321281e+02,
       8.51597500e+00, 2.79292222e+05, 1.06682745e+02, 0.00000000e+00,
       2.62644221e+04, 6.70657500e+00, 3.79268847e+02, 6.27537470e+01,
       5.06859826e+02, 2.17581528e+03, 0.00000000e+00, 2.45372899e+04,
       3.69549244e+03, 1.90688935e+04, 2.58599300e+00, 0.00000000e+00,
       5.21237022e+02, 1.77376201e+04, 4.31419600e+00, 2.07118272e+03,
       4.90688928e+02, 7.35209800e+03, 3.39190455e+04, 1.15920000e-02,
       6.43309400e+00, 8.71693971e+03, 8.59485099e+03, 1.07843202e+02,
       2.99553147e+02, 9.35980000e-02, 8.60487739e+03, 1.10353000e-01,
       6.04843400e+00, 4.77684368e+04, 9.76269132e+04, 7.49326924e+02,
       3.30031210e+01, 1.10622905e+04, 1.31648692e+02, 2.69206666e+02,
       1.78367572e+04, 4.48244743e+03, 3.67184069e+03, 2.55490361e+04,
       7.90405150e+01, 4.09739038e+04, 2.56205513e+02, 3.22058702e+04,
       1.87460073e+05, 0.00000000e+00, 0.00000000e+00, 3.72499681e+04,
       3.83551400e+00, 4.96333710e+01, 3.45960478e+03, 4.68230333e+04,
       2.48209500e+00, 5.99883200e+00, 9.31382736e+02, 8.47620000e-02,
       8.36292000e-01, 5.53109500e+00, 4.39762194e+02, 3.12581581e+03,
       1.57410890e+03, 0.00000000e+00, 1.33189017e+04, 1.75841291e+03,
       4.59716002e+03, 4.53114271e+04, 3.45263579e+03, 3.23322430e+03,
       9.97309151e+02, 8.90591000e-01, 8.71809579e+03, 2.54035355e+04,
       2.21120000e-01, 8.62827123e+02, 1.19118000e-01, 1.96830219e+02,
       1.85512213e+02, 4.72858689e+02, 1.92893508e+03, 1.08062404e+02,
       0.00000000e+00, 4.46845962e+02, 5.13707865e+02, 5.54493982e+02,
       1.28371000e-01, 7.31938025e+02, 4.74596784e+03, 9.50432212e+02,
       1.07690607e+03, 5.76854824e+02, 5.50756885e+03, 8.37245011e+03,
       6.42061000e-01, 2.60476293e+02, 0.00000000e+00, 2.54529634e+04,
       2.78484611e+02, 0.00000000e+00, 3.46237210e+04, 0.00000000e+00,
       1.06324281e+04, 9.34040364e+02, 0.00000000e+00, 3.63941890e+01,
       2.84910195e+03, 2.82724071e+05, 1.86322720e+04, 4.37972480e+02,
       4.42727297e+02, 1.39190045e+02, 4.46746400e+00, 1.34100505e+04,
       2.17758510e+01, 3.92834263e+02, 1.51295730e+01, 1.96642091e+03,
       0.00000000e+00, 6.66216059e+02, 2.49624222e+04, 2.44288100e+04,
       2.75012942e+05, 2.05886444e+03, 3.63329700e+00, 2.42160999e+03,
       2.73636276e+03, 1.35428000e+00, 8.17450975e+03, 1.45556192e+03,
       4.13927279e+03, 2.56839374e+04, 1.86683870e+05, 0.00000000e+00,
       4.48427728e+03, 3.70110308e+03, 2.98895465e+04, 0.00000000e+00,
       2.91848612e+02, 0.00000000e+00, 0.00000000e+00, 4.32201883e+03,
       4.30884000e+00, 8.24936544e+02, 1.38083410e+03, 4.27066191e+02,
       3.90982900e+00, 4.43499431e+02, 1.42989000e-01, 2.43984912e+02,
       1.49935900e+00, 5.30636000e+00, 9.15633518e+02, 2.36741281e+04,
       3.81715530e+04, 1.10310000e-01, 3.45121781e+02, 1.61724715e+03,
       3.46996390e+02, 5.48986207e+03, 2.25778500e+00, 4.42862386e+02,
       2.34260000e-02, 3.52929611e+04, 1.01510564e+02, 2.06476508e+03,
       2.88979930e+01, 9.24762681e+03, 4.19572683e+02, 1.93130810e+01,
       6.49237310e+01, 5.26615390e+01, 0.00000000e+00, 2.77583134e+05,
       1.76516854e+04, 0.00000000e+00, 0.00000000e+00, 2.29019095e+05,
       3.91541404e+04, 8.19202599e+02, 9.50913100e+00, 2.49459491e+04,
       1.74676350e+02, 2.07684518e+03, 1.55346700e+04, 9.02639770e+01,
       3.67104606e+03])

### Random number prediction
Below in the given array, first number is the code of a country that we got by Label encoder and the second number is depicting the year.

In [74]:
model1.predict([[9, 2030],[8, 2031],[15, 2032],[100, 2033],[150, 2034],[80, 2035],[17, 2036],[1, 2037],[20, 2038],[30, 2039],[35, 2040],[25, 2041],[22, 2042],[55, 2043],[65, 2044],[60, 2045],[70, 2046],[72, 2047],[88, 2048],[6, 2049],[12, 2050]])

array([8.56854652e+04, 1.43631300e+00, 1.79890205e+02, 8.67113335e+02,
       0.00000000e+00, 1.06511737e+02, 3.60081582e+02, 8.23871325e+02,
       2.22617536e+02, 7.66506800e+00, 2.76701702e+03, 1.77538478e+04,
       3.83211758e+03, 1.88876988e+02, 1.77335607e+03, 5.86151264e+03,
       3.77860450e+02, 5.04046426e+04, 9.43401216e+03, 2.92580000e-01,
       1.76356238e+05])

### Model score

In [66]:
model1.score(X_test, y_test)

0.9997490148382878

### Metrics to evaluate the model performance

In [67]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
print("R2 vale is:", r2_score(y_test, y_pred))
print("MSE is:", mean_squared_error(y_test, y_pred))
print("MAE is:", mean_absolute_error(y_test, y_pred))

R2 vale is: 0.9997490148382878
MSE is: 555271.8473604858
MAE is: 149.87309893521285